/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/09/2014, 04:13:45 PM
    Author     : gchavarro88
*/

body
{
    //background-image: url('../images/fondo.png');
    background-repeat: no-repeat;
    background-color: #414548;
    border: 0px;
    margin: 0px;
}
.layoutBordes
{
    height: 100%;
    width: 100%;
    border: 0px;
    background-color: #414548;
    margin: 0px;
    background-repeat: no-repeat;
}
.layoutBordesWest
{
    //height: 100%;
    width: 100%;
    border: 0px;
    background-color: #414548;
    margin: 0px;
    background-repeat: no-repeat;
    text-align: center;
    color: #44ffec;
    font-size: 14px;
    //font-weight: bold;
    //text-shadow: 2px 1px 2px #000;
}
.layoutNorth
{
    //background-image: url('../images/fondo.png');
    background-repeat: no-repeat;
    height: 100%;
    border: 0px;
    width: 100%;
    background-color: #414548;
    margin: 0px;
}

.graphicLayoutNorth
{
    //background-image: url('../images/fondo.png');
    border-radius: 20px 20px 10px 20px;
    -moz-border-radius: 20px 20px 10px 20px;
    -webkit-border-radius: 20px 20px 10px 20px;
    box-shadow: 2px 2px 2px 2px rgba(15, 15, 15, 0.5);
    -moz-box-shadow: 2px 2px 2px 2px rgba(15, 15, 15, 0.5);
    -webkit-box-shadow:2px 2px 2px 2px rgba(15, 15, 15, 0.5);
    background-repeat: no-repeat;
    border: 0px;
    background-color: #414548;
    margin: 0px;
    
}
.graphicLayoutNorth:hover
{
    //background-image: url('../images/fondo.png');
    box-shadow: 2px 2px 2px 2px rgba(68, 255, 236, 1);
    -moz-box-shadow: 2px 2px 2px 2px rgba(68, 255, 236, 1);
    -webkit-box-shadow: 2px 2px 2px 2px rgba(68, 255, 236, 1);
    background-repeat: no-repeat;
    cursor: pointer;
    border: 0px;
    background-color: #414548;
    margin: 0px;
    
}
.graphicLayoutNorth:active
{
    box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow:0px 0px 1px 1px rgba(255, 255, 255, 0.5);
}
.dataLayoutNorth
{
    text-align: justify;
    border-radius: 20px 10px 20px 10px;
    -moz-border-radius: 20px 10px 0px 10px;
    -webkit-border-radius: 20px 10px 20px 10px;
    box-shadow: 0px 0px 4px 2px rgba(15, 15, 15, 0.5);
    -moz-box-shadow: 0px 0px 4px 2px rgba(15, 15, 15, 0.5);
    -webkit-box-shadow:0px 0px 4px 2px rgba(15, 15, 15, 0.5);
    font-size: 12px;
    font-family: arial;
    height: 68px;
    width: 98%;
/*    text-shadow: 2px 1px 2px #000;
    -moz-text-shadow: 2px 1px 2px #000;
    -webkit-text-shadow: 2px 1px 2px #000;*/
    
}

.dataLayoutNorth:hover
{
    
    box-shadow: 0px 0px 4px 2px rgba(68, 255, 236, 1);
    -moz-box-shadow: 0px 0px 4px 2px rgba(68, 255, 236, 1);
    -webkit-box-shadow:0px 0px 4px 2px rgba(68, 255, 236, 1);
    text-shadow: 2px 1px 2px #000;
    -moz-text-shadow: 2px 1px 2px #000;
    -webkit-text-shadow: 2px 1px 2px #000;
    
}

.outPutLabelTittle
{
    color: #44ffec;
    font-weight: bold;
}
.outPutLabelDate
{
    color: #44ffec;
    font-size: 10px;
    font-weight: bold;
    //text-shadow: 2px 1px 2px #000;
}

.labelTittle
{
    text-align: center;
    color: #44ffec;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 1px 2px #000;
}
.modulesTittle
{
    text-align: center;
    color: #44ffec;
    font-size: 12px;
    font-weight: bold;
    //text-shadow: 2px 1px 2px #000;
}

.treeMenu
{
    height: 100%;
    border: 0px solid;
    width: 100%;
}